.theme-default-content {
	.custom-block {
		.custom-block-title {
			font-family: 'Space Grotesk', sans-serif;
			font-size: 1.15em;
		}
		a {
			color: $linkColor;
		}
	}

	.tip {
		border: solid $w3storage-green-dark;
		border-width: 0 0 0 6px;
		background-color: $w3storage-green-light;
		color: $textColor;
		.custom-block-title {
			color: $textColor;
		}
	}

	.warning {
		border: solid $w3storage-yellow-dark;
		border-width: 0 0 0 6px;
		background-color: $w3storage-yellow-light;
		color: $textColor;
		.custom-block-title {
			color: $textColor;
		}
	}

	.danger {
		border: solid $w3storage-red-dark;
		border-width: 0 0 0 6px;
		background-color: darken($w3storage-red-light, 5%);
		color: $textColor;
		.custom-block-title {
			color: $textColor;
		}
	}
}

.custom-block.callout {
	background-color: lighten($accentColor, 80%);
	padding: 0.1rem 1.5rem;
	border-color: $accentColor;
	border-left-width: 0.5rem;
	border-left-style: solid;
}

.custom-block.right {
	float: right;
	padding: 1em 0 1em 1em;
}

.custom-block.left {
	float: left;
	padding: 1em 1em 1em 0em;
}