.theme-default-content pre, .theme-default-content pre[class*="language-"].code-copy-added {
	position: static;
	overflow-y: hidden;
	padding: 1.5em 1.5em 1.9em 1.5em;
}

.code-copy {
	position: static;
	height: 0;

	svg {
		height: 1em;
		width: 1em;
		padding: 0.5em;
		right: 0.5em;
		bottom: 0.2em !important;

		transition: opacity 300ms ease;
	}

	span {
		right: 3em;
		bottom: 0.8em !important;
	}
}
