.navbar {
	width: 100%;
	position: sticky;
	background-color: $w3storage-red;
	border: 0px;

	.logo {
		height: 2.5rem;
		margin: 0;
		padding: 2px 3px 0px 0;
		vertical-align: top;
	}

	.site-name {
		font-size: 1.5rem;
		letter-spacing: -0.05rem;
		background: url('/images/w3storage-logo-text.svg') no-repeat;
		background-position: 0 6px;
		text-indent: -99999px;
		min-width: 220px;
		min-height: 50px;
		background-size: contain;
	}

	.sidebar-button {
		color: $w3storage-purple;
		padding: 0.4rem;

		.icon {
			width: 1.75rem;
			height: 1.75rem;
		}
	}
}

header.navbar .links {
	background-color: $layoutBgColor;
}

.theme-container .nav-links a {
	color: $w3storage-purple;
	font-weight: 600;
}

.theme-container .nav-item > a:hover, .theme-container .nav-item > a.router-link-active {
	color: $w3storage-yellow;
	border-bottom: none !important;
}

@media screen and (min-width: 719px) {
	.theme-container .nav-links .nav-item {
		margin-left: 3rem;
	}
}

#algolia-search-input {
	border-radius: 0;
	border: none;
}

header.navbar .links input {
	font-family: inherit;
	border-radius: 0;
	border: 0;
	margin-top: 0.1em;

	color: $accentTextColor;
	background-color: $contentBgColor;
	background-image: url('/images/search.svg') !important;
}

header.navbar .links ul {
	border-radius: 0;
	padding: 0;
	border: 2px solid $w3storage-red;
	li {
		border-radius: 0;
	}
	.focused, li:active {
		background-color: lighten($layoutBgColor, 10%);
		
		a {
			width: 100%;
			color: $highlightColor;
		}
	}
	a {
		color: $linkColor;
	}
}

// DocSearch
// See https://docsearch.algolia.com/docs/styling/
header.navbar .algolia-autocomplete {
	.algolia-docsearch-suggestion--highlight {
		color: $linkColor;
		box-shadow: inset 0 -2px 0 0 alpha($w3storage-purple, 80%) !important;
	}

	.algolia-docsearch-suggestion--title .aa-suggestion-title-separator {
		padding: 0 0.312rem;
	}

	.algolia-docsearch-suggestion--no-results {
		padding-left: 8px;
	}
}

@media (min-width: $MQNarrow) {
	header.navbar .links {
		input {
			width: 0;
			background-color: $w3storage-purple;
		}

		.suggestions {
			width: 22.5em;
			background-color: $layoutBgColor;
			a {
				color: $w3storage-purple;
			}
			a:hover {
				color: $w3storage-yellow;
			}
			padding-bottom: 0.5em;
		}

		input:focus {
			width: 20em;
		}
	}
}

@media (max-width: $MQNarrow) {
	header.navbar .links {
		input {
			margin-right: 0.4em;
			background-color: $w3storage-purple;

			// prevent zooming on iOS
			box-sizing: border-box;
			font-size: 1rem;

			&:focus {
				width: 17em;
			}
		}
		.suggestions {
			width: 18.6em;
			border: 2px solid $w3storage-purple;
			background-color: $layoutBgColor;
			a {
				color: $w3storage-purple;
			}
			a:hover {
				color: $w3storage-yellow;
			}
			padding-top: 0.4em;
			padding-bottom: 0.5em;
			margin-top: 0;
			margin-right: 5px;
		}
	}
}

@media (max-width: $MQMobile) {
	header.navbar .links {
		input {
			margin-right: 0.4em;

			// prevent zooming on iOS
			box-sizing: border-box;
			font-size: 1rem;

			&:focus {
				width: 87.5vw;
			}
		}
		.suggestions {
			width: 86.75vw;
			border: 2px solid $w3storage-purple;
			background-color: $layoutBgColor;
			a {
				color: $w3storage-purple;
			}
			a:hover {
				color: $w3storage-yellow;
			}
			padding-top: 0.4em;
			padding-bottom: 0.5em;
			margin-top: 0;
			margin-right: 6px;
		}
	}

	.home-link {
		position: absolute;
		width: 45px;
		left: calc(50% - 45px / 2);
	}
}