@import 'theme-dark';
@import 'layout';
@import 'util';
@import 'scrollbar';
@import 'buttons';
@import 'layout-center';
@import 'header';
@import 'sidebar';
@import 'video';
@import 'alert-panels';

/*
	Root elements styles to force them to use 100% of the viewport
*/
html {
	background-color: $mainBgColor;
    height: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
	background-color: transparent;
	background-image: url('/images/background-schematics.svg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
    overflow-y: scroll;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

.theme-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main.page {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.theme-default-content {
	flex: 1 0 auto;
}

.content-footer {
	flex: 0 0 auto;
}

/*
	Scroll Bar
*/

html, pre {
	{scrollbar};
}

// apply scrolling by default excluding firefox due to trigger issues
html.smooth-scroll {
	scroll-behavior: smooth;
}

@supports (-moz-appearance: none) {
	html.smooth-scroll {
		scroll-behavior: auto;
	}
}

img[loading] {
	height: auto;
}

#app {
	height: 100%;
}

a {
	color: $linkColor;
	font-weight: bold;
}

code {
	word-break: break-word;
}

.theme-default-content code {
	background-color: $w3storage-blue-desaturated;
	color: $w3storage-yellow-light;
	font-family: 'Space Mono', monospace;
	font-size: 0.95em;
}

svg.icon.outbound {
	color: $linkColor;
}

a.header-anchor {
	color: $headingColor;
	font-weight: 300;
}

a.header-anchor:hover {
	text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 500;
	color: $headingColor;
}

.theme-default-content:not(.custom) {
	& > h1 {
		padding-top: 2rem;
	}
}

:root {
	--accent-color: $accentColor;
	--text-color: $textColor;
	--border-color: $borderColor;
	--code-bg-color: $codeBgColor;
	--highlight-color: $highlightColor;
}
