$primaryColor = #0095E4 // blue
$secondaryColor = #fde956 // yellow
    $secondaryColorVariant = #fae870
    $secondaryColorLight = #e7d44a
    $secondaryColorLightest = #fffad3
$tertiaryColor = #e44e07 // red
    $tertiaryColorLight = #ff7b3d
    $tertiaryColorLightest = #ffd7c3
$quarternaryColor = #029439 // green
    $quarternaryColorLight = #37b667
    $quarternaryColorLightest = #dbf3e4
$offWhiteColor = #ffffff
$offBlackColor = #1F1817


// custom colors
$mainBgColor = $offWhiteColor
$layoutBgColor = $offWhiteColor
$contentBgColor = $offWhiteColor
$contentBgColorDark = $offWhiteColor
$accentTextColor = $quarternaryColor
$sidebarTextColor = $offBlackColor
$arrowBgColor = $primaryColor // (for custom BackToTop component)
$headingColor = $tertiaryColor
$headingColorDark = $tertiaryColor
$highlightColor = $secondaryColorLightest
$highlightColorDark = $secondaryColorLightest
$feedbackBgColor = $secondaryColorLightest
$feedbackBgColorDark = $secondaryColorLightest


// color overrides + dark theme overrides (see theme.styl) - note dark theme colors are light ones for now
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
$accentColor = $tertiaryColor
$textColor = $offBlackColor
$textColorDark = $offBlackColor
$borderColor = $tertiaryColorLight
$codeBgColor = $offBlackColor
$badgeTipColor = $quarternaryColorLightest
$badgeWarningColor = $secondaryColorLightest
$badgeErrorColor = $tertiaryColorLightest
$linkColor = $primaryColor
$linkColorDark = $primaryColor
$inputSearchBgColorDark = $contentBgColorDark