$w3storage-yellow = #fde956
$w3storage-yellow-dark = #e5ca02
$w3storage-yellow-light = #fffae6
$w3storage-red = #fc6553
$w3storage-red-dark = #c94332
$w3storage-red-light = #fff5f4
$w3storage-green = #37b667
$w3storage-green-dark = #10853c
$w3storage-green-light = #f0fcf4
$w3storage-purple = #171691
$w3storage-black = #1f1817
$w3storage-blue-dark = #0b0a45
$w3storage-blue-desaturated = #2d2d65
$w3storage-blue-bright = #00a7ff
$w3storage-white = #ffffff

// custom colors
$mainBgColor = $w3storage-white
$layoutBgColor = $w3storage-white
$contentBgColor = $w3storage-white
$contentBgColorDark = $w3storage-white
$accentTextColor = $w3storage-green
$sidebarTextColor = $w3storage-black
$arrowBgColor = $w3storage-purple // (for custom BackToTop component)
$headingColor = $w3storage-red
$headingColorDark = $w3storage-red
$highlightColor = $w3storage-yellow-light
$highlightColorDark = $w3storage-yellow-light
$feedbackBgColor = $w3storage-green-light
$feedbackBgColorDark = $w3storage-green-light


// color overrides + dark theme overrides (see theme.styl) - note dark theme colors are light ones for now
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
$accentColor = $w3storage-red
$textColor = $w3storage-black
$textColorDark = $w3storage-black
$borderColor = $w3storage-red-light
$codeBgColor = $w3storage-black
$badgeTipColor = $w3storage-green
$badgeWarningColor = $w3storage-yellow
$badgeErrorColor = $w3storage-red
$linkColor = $w3storage-purple
$linkColorDark = $w3storage-blue-bright
$inputSearchBgColorDark = $contentBgColorDark