$primaryColor = #0095E4 // blue
$secondaryColor = #fb0d41 // yellow
    $secondaryColorLight = #e7d44a
    $secondaryColorLightest = #fffad3
$tertiaryColor = #e44e07 // red
    $tertiaryColorLight = #ff7b3d
    $tertiaryColorLightest = #ffd7c3
$quarternaryColor = #029439 // green
    $quarternaryColorLight = #37b667
    $quarternaryColorLightest = #dbf3e4
$offWhiteColor = #f9ffff
$offBlackColor = #1F1817


// custom colors
$mainBgColor = $secondaryColorLightest
$layoutBgColor = $primaryColor
$contentBgColor = $offWhiteColor
$contentBgColorDark = $offWhiteColor
$accentTextColor = $quarternaryColor
$sidebarTextColor = $secondaryColorLightest
$arrowBgColor = $accentColor // (for custom BackToTop component)
$headingColor = $tertiaryColor
$headingColorDark = $tertiaryColor
$highlightColor = #ffffa0
$highlightColorDark = #ffffa0
$feedbackBgColor = $tertiaryColorLightest
$feedbackBgColorDark = $tertiaryColorLightest


// color overrides + dark theme overrides (see theme.styl)
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
$accentColor = $tertiaryColor
$textColor = $offBlackColor
$textColorDark = $offBlackColor
$borderColor = $tertiaryColor
$codeBgColor = $offBlackColor
$badgeTipColor = $quarternaryColorLightest
$badgeWarningColor = $secondaryColorLightest
$badgeErrorColor = $tertiaryColorLightest
$linkColor = $primaryColor
$linkColorDark = $primaryColor
$inputSearchBgColorDark = $contentBgColorDark