scrollbar = @block {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        position: fixed;
        right: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $w3storage-yellow;
    }

    // Firefox
    & {
        scrollbar-width: thin;
        scrollbar-color: $w3storage-yellow transparent;
    }
}

