ul > li > a.sidebar-link {
	color: $sidebarTextColor;
}

ul.sidebar-links > li > a {
	color: inherit;
}

.sidebar {
	background-color: $layoutBgColor;
	color: $primaryColor;

	.sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable) {
		color: $offBlackColor;
	}

	.sidebar-heading {
		font-family: 'Space Grotesk', sans-serif;
		font-size: 1.2em;
		font-weight: 500;
		line-height: 1.1;
	}

	.sidebar-group .arrow {
		display: none;
	}

	.sidebar-group.is-sub-group a.sidebar-link {
		margin-bottom: 0.2rem;
	}

	a.sidebar-link.active {
		color: $primaryColor;
		border-left: 4px solid $primaryColor;
	} 

	.sidebar-sub-headers a.sidebar-link.active {
		border-left: none;
	}

	.sidebar-group.is-sub-group {
		margin-bottom: 0.5rem;
	}

	.sidebar-links.sidebar-group-items li:last-child .sidebar-group.is-sub-group {
		margin-bottom: 0;
	}

	.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
		opacity: 1;
		font-size: 0.8rem;
		line-height: 2em;
	}

	{scrollbar};
}

.icon.outbound {
	padding-left: 0.15rem;
	color: $linkColor;
}

// sidebar scrollbar style
.sidebar::-webkit-scrollbar {
	width: 4px;
	position: fixed;
	right: 0;
}

.sidebar::-webkit-scrollbar-thumb {
	background: transparent;
	transition: background-color 2s;
}

.sidebar::-webkit-scrollbar-thumb:hover, .sidebar:hover::-webkit-scrollbar-thumb {
	background: $borderColor;
}

@media (max-width: $MQMobile) {
	.sidebar {
		width: 80vw;
	}
}