ul > li > a.sidebar-link {
	color: $sidebarTextColor;
}

ul.sidebar-links > li > a {
	color: inherit;
}

.sidebar {
	position: sticky;
	height: calc(100vh - 2.5rem);
	bottom: unset;
	
	background-color: $layoutBgColor;
	color: $w3storage-purple;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.3em;
	line-height: 1.3;

	transition: transform 0.3s ease;

	ul {
		line-height: 1;
	}

	.sidebar-links {
		position: relative;
	}

	.nav-links {
		border-color: $w3storage-red-light !important;
	}

	.sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable) {
		color: $w3storage-purple;
	}

	.sidebar-group .arrow {
		display: none;
	}

	.sidebar-group.is-sub-group a.sidebar-link {
		margin-bottom: 0.2rem;
	}

	.sidebar-heading {
		font-weight: 500;
		padding: 0rem 1.5rem 0rem 1.25rem;
	}

	a.sidebar-link.active {
		color: $w3storage-yellow;
		font-weight: 500;
		border-left: 4px solid $w3storage-yellow;
	} 

	& > ul.sidebar-links > li > a.sidebar-link {
		font-weight: 500;
	}

	a.sidebar-link:hover {
		color: $w3storage-yellow;
	} 

	.sidebar-links .sidebar-group-items a, .sidebar-sub-header a {
		font-family: 'Open Sans', sans-serif;
		font-size: 0.8em;
		font-weight: 400;
	}

	.sidebar-sub-headers a.sidebar-link.active {
		border-left: none;
	}

	.sidebar-group.is-sub-group {
		margin-bottom: 0.5rem;
	}

	.sidebar-links.sidebar-group-items li:last-child .sidebar-group.is-sub-group {
		margin-bottom: 0;
	}

	.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
		opacity: 1;
		font-size: 0.8rem;
		line-height: 2em;
	}

	{scrollbar};
}

.icon.outbound {
	padding-left: 0.15rem;
	color: $linkColor;
}

// sidebar scrollbar style
.sidebar::-webkit-scrollbar {
	width: 6px;
	position: fixed;
	right: 0;
}

.sidebar::-webkit-scrollbar-thumb {
	background: transparent;
	transition: background-color 2s;
}

.sidebar::-webkit-scrollbar-thumb:hover, .sidebar:hover::-webkit-scrollbar-thumb {
	background: $borderColor;
}

@media (max-width: $MQNarrow) {
	.sidebar {
		border-right: none;
	}
}

@media (max-width: $MQMobile) {
	.sidebar {
		width: 80vw;
		top: 3.6rem;
		padding-top: 1rem;
	}
}
