.tabs-component {
    background: $feedbackBgColor;
    border: 1px solid $accentColor;
    box-shadow: none;
    margin-top: 2em;

    .tabs-component-panels {
        background-color: $feedbackBgColor;
        border: none;
        padding: 1em 1.2em;
    }

    .tabs-component-panels > section[id] {
        scroll-margin-top: 10rem;
    }

    .tabs-component-tabs {
        border: 0;
        align-items: stretch;
        display: flex;
        justify-content: flex-start;
        
        font-family: 'Space Grotesk', sans-serif;
        background-color: darken($contentBgColor, 5%);
        border-bottom: 1px solid $accentColor;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .tabs-component-tab {
        background-color: transparent;
        font-size: unset;
        margin-right: 0;
        margin-left: -1px;
        margin-bottom: -1px;
        border-top: 0;
        border-right: 1px solid transparent;
        border-left : 1px solid transparent;
        border-bottom: none;
        border-radius: 0;

        transition:
            background-color 300ms,
            border 300ms;
    }
    .tabs-component-tab.is-active {
        color: $headingColor;
        background-color: $feedbackBgColor;
        border-left-color: $accentColor;
        border-right-color: $accentColor;
    }
    .tabs-component-tab:not(.is-disabled):hover {
        color: $linkColor;
    }

    .tabs-component-tab:focus.is-active.is-focus:not(:active) {
        box-shadow: 0 0 2px 2px #aaa inset;
        border-radius: 2px;
    }

    .tabs-component-tab-a {
        padding: 0 1.25em;
        font-size: 1.05em;
        font-weight: 500;
        line-height: 2em;
        color: $headingColor;

        transition: color 300ms;

        &:hover {
            color: $accentColor;
        }
    }
}

.theme-default-content:not(.custom) a:hover.tabs-component-tab-a {
    text-decoration: none;
}