.el-tabs.el-tabs--top.el-tabs--border-card {
    background: $feedbackBgColor;
    border-color: $accentColor;
    box-shadow: none;
    margin-top: 15px;

    .el-tabs__content {
        background-color: $feedbackBgColor;
    }

    .el-tabs__header {
        font-family: 'Space Grotesk', sans-serif;
        background-color: darken($contentBgColor, 5%);
        border-bottom: 1px solid $accentColor;
    }

    .el-tabs__item {
        font-size: 1.05em;
        color: $headingColor;
    }
    .el-tabs__item.is-active {
        color: $linkColor;
        background-color: $feedbackBgColor;
        border-left-color: $accentColor;
        border-right-color: $accentColor;
    }
    .el-tabs__item:not(.is-disabled):hover {
        color: $w3storage-purple;
    }
}