@media (prefers-color-scheme: dark) {
    html {
        background-color: $mainBgColorDark !important;
    }

    body {
        background-image: url('/images/background-schematics-dark.svg') !important;
    }
    .theme-container {
    
        // Content
        main.page {
            background-color: $contentBgColorDark;
	        color: $textColorDark;
        }

        // Search
        header.navbar .links .search-box input {
            color: $textColorDark;
            background-color: $inputSearchBgColorDark;
        }
        
        header.navbar .links .search-box .suggestions {
            background-color: $inputSearchBgColorDark;

            .suggestion a {
                color: $accentTextColor;
            }
            .suggestion.focused {
		        background-color: lighten($inputSearchBgColorDark, 10%);

                a {
                    color: $headingColorDark;
                }
            }
            
        }

        // DocSearch
        // See https://docsearch.algolia.com/docs/styling/
        header.navbar .algolia-autocomplete {
            /* Main dropdown wrapper */
             .ds-dropdown-menu {
                background-color: $contentBgColorDark;
                border-color: lighten($contentBgColorDark, 20%);

                &::before {
                    background-color: $contentBgColorDark;
                    border-color: lighten($contentBgColorDark, 20%);
                }
            }

            .algolia-docsearch-suggestion {
                background-color: $contentBgColorDark;
            }

            /* Main category (eg. Getting Started) */
            .algolia-docsearch-suggestion--category-header {
                color: $textColorDark;
                background-color: $w3storage-purple;
                border-color: lighten($contentBgColorDark, 10%);
            }

            /* Category (eg. Downloads) */
            .algolia-docsearch-suggestion--subcategory-column {
                background-color: lighten($contentBgColorDark, 7%) !important;
                color: $textColorDark;

                &::before {
                    background: lighten($contentBgColorDark, 10%);
                }
            }

            .algolia-docsearch-suggestion--subcategory-column-text {
                color: $textColorDark;
            }

            .algolia-docsearch-suggestion--content {
                background-color: $contentBgColorDark;

                &::before {
                    background: none;
                }
            }

            /* Title (eg. Bootstrap CDN) */
            .algolia-docsearch-suggestion--title {
                color: $textColorDark;
            }

            /* Description description (eg. Bootstrap currently works...) */
            .algolia-docsearch-suggestion--text {
                color: $textColorDark;
            }

            /* Highlighted text */
            .algolia-docsearch-suggestion--highlight {
                color: $linkColorDark;
                box-shadow: inset 0 -2px 0 0 alpha($linkColorDark, 80%);
            }

            .ds-cursor .algolia-docsearch-suggestion--content {
                background-color: lighten($contentBgColorDark, 15%) !important;
            }

            .ds-dataset-1 {
                background-color: $contentBgColorDark;
            }

            .ds-suggestion {
                border-color: lighten($contentBgColorDark, 10%);
            }
        }

        h1, h2, h3, h4, h5
        a.header-anchor {
	        color: $headingColorDark;
        }

        h2 {
            border-color: $headingColorDark;
        }

        a {
            color: $linkColorDark;
        }

        svg.icon.outbound {
            color: $linkColorDark;
        }

        .btn-primary {
	        background-color: $buttonColorDark;
        	&:hover {
		        background-color: darken($buttonColorDark, 15%);
	        }
        }

        .theme-default-content code {
            background-color: $highlightColorDark;
            color: $textColorDark;
        }

        // Alert panels
        .theme-default-content {
            .custom-block {
                a {
                    color: $linkColorDark;
                }
            }

            .tip {
                border: solid $w3storage-green;
                border-width: 1px 1px 1px 6px;
                background-color: transparent;
                color: $w3storage-green;
                .custom-block-title {
                    color: $w3storage-green;
                }
            }

            .warning {
                border: solid $w3storage-yellow;
                border-width: 1px 1px 1px 6px;
                background-color: transparent;
                color: $w3storage-yellow;
                .custom-block-title {
                    color: $w3storage-yellow;
                }
            }

            .danger {
                border: solid $w3storage-red;
                border-width: 1px 1px 1px 6px;
                background-color: transparent;
                color: $w3storage-red;
                .custom-block-title {
                    color: $w3storage-red;
                }
            }
        }

        // Tab groups
        .el-tabs.el-tabs--top.el-tabs--border-card {
            background: $feedbackBgColorDark;
            border-color: transparent;

            .el-tabs__content {
                background-color: $feedbackBgColorDark;
            }

            .el-tabs__header {
                font-family: 'Space Grotesk', sans-serif;
                background-color: $w3storage-purple;
                border-color: transparent;
            }

            .el-tabs__item {
                color: $headingColorDark;
            }
            .el-tabs__item.is-active {
                color: $headingColorDark;
                background-color: $feedbackBgColorDark;
                border-left-color: transparent;
                border-right-color: transparent;
            }
            .el-tabs__item:not(.is-disabled):hover {
                color: $linkColorDark;
            }
        }

        // Custom
        .feedback.feedback {
            background-color: $feedbackBgColorDark;
            border-color: transparent;

            h3 {
                color: $headingColorDark;
            }
        }
    }

}